<h1>{{ isLoggingIn ? 'Sign In' : 'Create an Account' }}</h1>
<form action="nowhere" method="POST">
   <div>
      <label for="email">Email: </label>
      <input type="text" name="email" id="email">
   </div>

   <div>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name">
   </div>

   <div>
      <label for="password">Password: </label>
      <input type="text" name="password" id="password">
   </div>

   <div>
      <button type="submit">{{ isLoggingIn ? 'Sign In' : 'Create an account' }}</button>
   </div>

</form>

<div>
   <button type="button" (click)="toggleDisplay()">{{ isLoggingIn ? 'Create an account' : 'Back to Login'}}</button>
</div>
   


<a routerLink="/chatlist">Chat List</a><br>
<a routerLink="/chat">Chats</a><br>
