<div class="container">
   <div id="formWrapper">

      <h1>{{ isLoggingIn ? 'Log In' : 'Sign Up' }}</h1>

      <div>
         <label for="email">Email</label><br>
         <input type="email" name="email" id="email" [(value)]="user.email">
      </div>

      <div [hidden]="isLoggingIn">
         <label for="name">Name</label><br>
         <input type="text" name="name" id="name" [(value)]="user.name">
      </div>

      <div>
         <label for="password">Password</label><br>
         <input type="password" name="password" id="password" [(value)]="user.password">
      </div>

      <div>
         <button type="button" class="btn btn-sm btn-primary" (click)="submit()">{{ isLoggingIn ? 'Log In' : 'Sign Up' }}</button>
      </div>

      <div>
         <button type="button" (click)="toggleDisplay()" class="btn btn-sm btn-secondary">{{ isLoggingIn ? 'Go to sign up page' : 'Back to login'}}</button>
      </div>

   </div>
</div>

